#lanterne{
    background-image:    linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),  url("../image/Three-beautiful-Chinese-girls-retro-style-colorful-lanterns_1920x1440.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    height: auto;
    padding: 50px;
    h2{
        padding-bottom: 20px;
    }
    
}

#lanternes_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
   

    article{
        padding-bottom: 2rem;
       
    }
    img{
        width: auto;
        height: 300px;
        
    }

    h3{
        font-size: 20px
    }
}
.lanterneArticle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}