@font-face {
    font-family: 'bankai';
    src: url('../fonts/Bankai\ Demo\ Version.otf')
  }

  @font-face {
    font-family: 'hashiba';
    src: url('../fonts/Hashiba.ttf')
  }

  @font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf')
  }


